openapi: 3.1.0
info:
  title: Google Drive PDF Reader
  version: 1.0.1
  description: Download and list PDF files from Google Drive folders for analysis.

servers:
  - url: https://www.googleapis.com/drive/v3

paths:
  /files:
    get:
      operationId: listFiles
      summary: List files in a specific Drive folder
      parameters:
        - name: q
          in: query
          required: true
          description: Query string to filter files (e.g., "'FOLDER_ID' in parents")
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional fields to return (e.g., "files(id,name,mimeType)")
          schema:
            type: string
            default: files(id,name,mimeType)
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: A list of files
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        mimeType:
                          type: string

  /files/{fileId}:
    get:
      operationId: getFileMetadata
      summary: Get metadata of a file by ID
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  mimeType:
                    type: string

  /files/{fileId}/download:
    get:
      operationId: downloadPdf
      summary: Download PDF content by file ID
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: PDF file content
          content:
            application/pdf:
              schema:
                type: string
                format: binary
